{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container fade-in">
    <h1>{{title}}</h1>

<div class="form-agregar-editar">
    <form method="POST">
        {% csrf_token %}
        
        <div>
            {{ form.articulo.label }} 
            {{ form.articulo }}
            
        </div>
        <div>
            {{ form.cantidad.label }} 
            {{ form.cantidad }}
           
        </div>  
        <div>
            {{ form.precio_s_iva.label }} 
            {{ form.precio_s_iva }}
            
        </div>  


        <button type="submit" class= "boton-anadir" >Guardar artículo</button>

    </form>
</div>  
</div>    
{% endblock %}